# Archivos del repo que no son fuente de chezmoi
Makefile
README.md
logo
generate.sh
scripts
themes
.gitignore
.RData
.Rhistory

{{ if eq .profile "common" }}
.config/gtk-3.0
.config/i3
.config/i3status
.config/picom
.config/polybar
.config/rofi
.config/hypr
.config/waybar
.config/walker
.config/mako
.config/environment.d
.config/xdg-desktop-portal-hyprland
.config/wallpapers
.config/DankMaterialShell
.config/alacritty/dank-theme.toml
.local/share
.local/bin/alacritty-cwd
.local/bin/alacritty-focus-cwd
.inputrc
.profile
{{ else if eq .profile "i3" }}
.config/hypr
.config/waybar
.config/walker
.config/mako
.config/environment.d
.config/xdg-desktop-portal-hyprland
.config/wallpapers
.config/DankMaterialShell
.config/alacritty/dank-theme.toml
.local/share
.local/bin/alacritty-cwd
.local/bin/alacritty-focus-cwd
.inputrc
{{ else if eq .profile "hyprland" }}
.config/i3
.config/i3status
.config/picom
.config/polybar
.config/rofi
.config/hypr
.config/wallpapers
.config/DankMaterialShell
.config/alacritty/dank-theme.toml
.local/bin/alacritty-cwd
.local/bin/alacritty-focus-cwd
.inputrc
{{ else if eq .profile "dms" }}
.config/gtk-3.0
.config/i3
.config/i3status
.config/picom
.config/polybar
.config/rofi
.config/waybar
.config/walker
.config/mako
.config/environment.d
.config/xdg-desktop-portal-hyprland
.config/btop
.config/starship.toml
.config/colors.toml
.config/starship.backup.toml
.local/share
.profile
{{ end }}
