ipc = on
splash = false

preload = ${HOME}/dotfiles/wallpaper/.local/share/wallpaper.jpg

wallpaper {
    monitor = 
    path = ${HOME}/dotfiles/wallpaper/.local/share/wallpaper.jpg
    fit_mode = cover
}
